body {
    margin: 0px;
    padding: 0px;

    font-family: DejaVu Sans Mono, monospace;

    text-align: center;
    min-height: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.9s ease;

    background: linear-gradient(45deg, rgb(154, 165, 188), rgb(147, 192, 226));
    color: rgb(255, 255, 255);
}

#main_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;

    text-align: center;
    min-height: 90%;
    max-height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    border-radius: 10px;

    background: linear-gradient(rgb(44, 47, 54), rgb(11, 6, 52) )

}

#add_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

#task_section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Impact, fantasy;
    font-weight: lighter;
    font-style: italic;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

span {
    color: rgb(255, 255, 255);
}

.stat_label {
    color: rgb(255, 255, 255);
}

.stat {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-right: 1%;
    margin-left: 1%;
    gap: 20px;

    justify-content: space-between;
    align-items: flex-end;
}

#task_stat {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-right: 2%;
    margin-left: 2%;

    justify-content: space-between;
    align-items: flex-end;

}

#count {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
    
}

#task_block {
    margin:2% 2% 2% 2%;
    min-height: 60vh;
    max-height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 0px;

}

#task_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: none;
    outline: none;


    background: rgb(154, 255, 143);
    height: 6vh;
    width: 6vh;

    cursor: pointer;
}

#task {
    display: flex;
    background: rgb(255, 255, 255);
    box-sizing: border-box;

    border: none;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 1%;


    height: 6vh;
    width: 50vh;

}

#task_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 450px;

    padding: 1px;
    margin: 0px;

    overflow-y: auto;

}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(44, 47, 54);
    min-height: 7vh;
    max-height: 50px;
    width: 100%;
    margin: 1px 0px;
    padding: 0px 0px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    box-sizing: border-box;
    
}

.delete_btn {
    display: flex;
    margin: 0;

    width: 7vh;
    height: 7vh;
    background-color: rgb(254, 155, 143);
    

    border: none;
    outline: none;
    cursor: pointer;
}

.completed_style {
    transition: all ease 0.5s;

    background: linear-gradient(45deg, rgb(44, 47, 54), rgb(154, 255, 143));
    text-decoration: line-through;
}


#nav_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#filter {
    height: 6vh;
    cursor: pointer;

    padding: 0 1%;

    border: none;
    outline: none;
    background-color: rgb(154, 165, 188);
}

.btn:hover {
    transition: all ease 0.5s;

    background: rgb(123, 255, 109);
    box-shadow: 0 0 10px rgb(123, 255, 109);
}

.delete_btn:hover {
    transition: all ease 0.5s;

    box-shadow: 0 0 10px rgb(255, 131, 117);
    background: rgb(255, 131, 117);
}  

#filter:hover {
    transition: all ease 0.5s;

    background: rgb(190, 204, 235);
    box-shadow: 0 0 10px rgb(190, 204, 235);
}

